.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* .out-frame{
  margin-left: 10px;
  margin-right: 10px;
} */

header, main, nav{
  height: 4rem;
  /* background-color: blanchedalmond; */
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  padding: 0.5rem;
  border-radius: 8px;
}

header, main{
  background-color: blanchedalmond;
}
/* nav{
  background-color: cornsilk;
} */
.continut{
  display: flex;
}
